    html, body {
    margin: 0;
    padding: 0;
    height: 150 20%; 
}
body {
    background-image: url("https://i.pinimg.com/originals/d1/e3/cd/d1e3cdf95a4ab4b42c36f98f13bcd1d3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    input, button {
        padding: 10px;
        margin: 10px;
        font-size: 16px;
        }
label {
    background-color: red;
}

h2 {
   background: linear-gradient(to right, rgb(236, 11, 11), gray);
}

h3 {
    background: linear-gradient(to right, rgb(224, 201, 201), rgb(78, 199, 54));
}

p {
    background-color: dimgrey;
}

input {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    padding: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 2);

input:focus 
outline: none;
box-shadow: 0 0 10px #007bff;

input {
    background-color: linear-gradient(to right, black, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 10px;
}

}